  
     
     .attribution { font-size: 11px; text-align: center; }
     .attribution a { color: hsl(228, 45%, 44%); }
    
      body{
       background-image:url('../images/bg-mobile.svg');
       background-repeat:no-repeat;
       background-color:hsl(257 40% 49%);
       font-family: 'Lato', sans-serif;
       font-family: 'Open Sans', sans-serif;
       font-family: 'Poppins', sans-serif;
   }
   
     .container{
       color: white;
   }
   
      a:link,a:visited{
        border-radius: 20px;
        background-color: white;
        color:rgb(0,0,0,0.5);
        text-decoration:none;
        padding: 10px 70px 10px 70px;
        margin:10px 70px 10px 70px;
      }
       
      h1{
          text-align: center;
          font-size:30px;
      }
      
      #complain{
          text-align: center;
         margin: 20px 10px 10px 30px;
         padding:20px 0px 0px 0px;
      }
      
      .project{
          text-align: center;
      }
      
      p{
          opacity: 0.8;
      }
      
     
 @media only screen and (min-width:600px){
     

      body{
       background-image:url('../images/bg-desktop.svg');
       background-repeat:no-repeat;
       background-color:hsl(257 40% 49%);
       font-family: 'Lato', sans-serif;
       font-family: 'Open Sans', sans-serif;
       font-family: 'Poppins', sans-serif;
   }
   
   .help{
       display: flex;
   }
   
   a:hover{
       background-color:hsl(300 69% 71%) ;
   }

 }
     